#sidebar
{
	text-align: left;
	color: red;
	float: left;
	padding-left: 30px;
	//padding-top: 10px;
	width: 100px;
	height: 150%;
	margin:0;
	background-color: #d7cbb3;
	background-image: url(images/bg.gif);
	background-repeat: repeat-y;
}
#topbar
{
	text-align: center;
	float: top;
	color: red;
	margin: 0;
	padding: 0;
	background-color:#d7cbb3;
	height: 200px;
}
#accordion
{
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	float: top;
	position: relative;
	//overflow: hidden;
	padding: 0;
	width: 700px;
	height: 200px;
	//background-color: #000;
	//background-image: url(images/accordion.png);
}

.center
{
	text-align: center;
}
.accordion-image
{
	margin: 0;
	padding: 0;
}
.recommend
{
	width: 200px;
	height: 200px;
}
#centertable
{
	margin: auto;
}
body, html 
{
	margin:0;
	padding:0;
	width: 100%;
	height: 100%;
}
#content
{
	//padding-left: 25px;
	//padding-right: 25px;
	margin: 0;
	width: 100%;
	height: 100%;
	float: top;
	//overflow: hidden;
	//background-color:#000000;
}
#wrapper
{
	margin:0;
	padding:0;
	width: 100%;
	height: 100%;
	background-color:#d7cbb3;
}
#main
{
	margin:0;
	padding:0;
	width: 100%;
	height: 100%;
	background-color:#ffffff;
}
#othertop
{
	margin: 0;
	padding: 0;
	width: 90%;
	height: 20%;
	float: left;
}
a:link {color: #FF0000;}
a:active {color: #FF0000;}
a:visited {color: #000000;}
//a:hover {color: #FFFFFF;}







/**ERIC'S PORTION **/

body { 
padding:0; 
margin:0; 
} 
  
#sidebar { 
//height:200px; 
//width: 400px;
//overflow:hidden; 
//position:relative; 
//background-color:#ccc; 
}    
  
#menu { 
width:100%; 
list-style:none; 
padding:0; 
margin:0; 
top:0; 
position:relative; 
height:50%; 
width:400px; 
} 
  
#list li.changer { 
padding:10px 0; 
display:block; 
text-align: center;
border: 1px solid black;
cursor:hand; 
cursor:pointer; 
background:url() repeat #f5f5f5; 
font-family: verdana; 
font-size:9px; 
font-weight:900; 
height: 80px;
width: 200px;
margin-top: 3px;
margin-bottom: 3px;
margin-left: 0px;
margin-right: 0px;
position: relative;
right: 20px;
} 
  
#list li a { 

width: 200px;

color:#ddd; 

/*display:inline;*/ 
/*padding:20px 8px 5px 20px; */
text-decoration:none; 
} 

#list img {
width: 75px;
height: 75px;
float: left;
margin-left: 8px;
}

#bio2, #bio3, #bio4, #bio5{
display: none;
} 

div.scroll {
 height: 400px;
 width: 250px;
 overflow: auto;
 border: 1px solid #666;
 padding: 8px;
 float: bottom;
 }
 
div.listing{
width: 800px;
float: right;
}

div.listing p {
margin-right: 10px;
margin-left: 15px;
}

img.list_img {
float: left;
margin-left: 5px;
margin-right: 20px;
margin-bottom: 5px;
margin-left: 20px;
border: 1px solid black;
}

p.event_title{
font-weight: bold;
font-size: 120%;
margin-left: 5px;
}

p.bio_p{
	float: left;
	margin-right: 10px;
	margin-bottom: 0px;
	padding: 0px;
}
  

#upcoming_events{
font-weight: bold;
text-decoration: underline;
}

#li1{
	background-color: #F5F5F5;
}

#list li.nonchanger { 
padding:10px 0; 
display:block; 
text-align: center;
border: 1px solid black;
cursor:hand; 
cursor:pointer; 
background:url() repeat #B31B1B; 
font-family: verdana; 
font-size:9px; 
font-weight:900; 
height: 80px;
width: 200px;
margin-top: 3px;
margin-bottom: 3px;
margin-left: 0px;
margin-right: 0px;
position: relative;
right: 20px;
display: none;
} 

.black_overlay{
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 150%;
	background-color: black;
	z-index:1001;
	-moz-opacity: 0.8;
	opacity:.80;
	filter: alpha(opacity=80);
}
 
.white_content {
	display: none;
	position: absolute;
	top: 25%;
	left: 25%;
	/*width: 50%;
	height: 50%;*/
	width: 500px;
	height: 250px;
	padding: 16px;
	border: 5px solid black;
	background-color: white;
	z-index:1002;
	overflow: auto;
}

.white_content2 {
	display: none;
	position: absolute;
	top: 22%;
	left: 25%;
	/*width: 50%;
	height: 50%;*/
	width: 300px;
	height: 500px;
	padding: 16px;
	border: 5px solid black;
	background-color: white;
	z-index:1002;
	overflow: auto;
}

#login_p{
	background-color: #B31B1B;
	color: white;
	font-weight: bold;
	font-size: 26px;
	padding-left: 20px;
	position: relative;
	left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 0px;
	width: 400px;
}

#log1, #log2, #log3, #log4, #log5{
background-color: #B31B1B;
	color: white;
	font-weight: bold;
	font-size: 12px;
	padding-left: 10px;
	padding-right: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 40px;
	height: 20px;
	cursor: pointer;
	border: 2px solid black;
}

#affiliate{
	float: right;
}

#login2{
display: none;
}

.seats_button{
	display: none;
}

#hover1{
	width: 150px;
	height: 100px;
	font-size: 10px;
	border: solid 3px black;
	position:absolute;
	left: 0px;
	top: 0px;
	display: none;
	background-color: #cccccc;
}

#hover1_1{
	color: red;
	font-size: 18px;
	text-align: center;
	position: relative;
	bottom: 5px;
}

#hover1_2{
	font-size: 13px;
	position: relative;
	bottom: 20px;
}

#seating{
	width: 150px;
}

span.red_dem{
	width: 10px;
	height: 10px;
	background-color: red;
}

span.red{
	width: 10px;
	height: 10px;
	background-color: red;
	cursor: pointer;
	margin: 0px;
	padding: 0px;
	cursor: default;
}

span.green{
	width: 10px;
	height: 10px;
	background-color: green;
	cursor: pointer;
	margin: 0px;
	padding: 0px;
}

span.blue{
	width: 10px;
	height: 10px;
	background-color: blue;
	cursor: pointer;
	margin: 0px;
	padding: 0px;
}

span.green_dem{
	width: 10px;
	height: 10px;
	background-color: green;
}

span.blue_dem {
	width: 10px;
	height: 10px;
	background-color: blue;
}

#selected_p{
	float: right;
}

#selected_p2{
	position:relative;
	left: 10px;
}

#selected{
	border: solid 1px black;
	width: 15px;
	height: 15px;
}

#selected2{
	border: solid 1px black;
	width: 15px;
	height: 15px;
}

p.seating_desc{
	margin-left: 10px;
	margin-top: 3px;
	margin-bottom: 3px;
}

#click_p
{
	margin-bottom: 5px;
}

td{
	padding: 0px;
	width: 5px;
	margin: 0px;
	width: 50px;
}

#seat_hover{
	width: 300px;
	position: relative;
	top: 10px;
}

#stage_view{
	width: 200px;
	height: 113px;
	float: right;
}

#step{
	font-weight: bold;
	font-size: 20px;
}

#steps{
	position: relative;
	left: 20px;
	top: 10px;
}

#continue{
	position: relative;
	left: 10px;
	top: 10px;
}

#check_header{
	position: relative;
	left: 100px;
	top: 30px;
}

#search_p{
	font-size: 18px;
}
#calendar-container
{
	position: relative;
	float: right;
}